*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: system-ui;
}

a{
    text-decoration: none;
    color: #fff;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    position: absolute;
    width: 95%;
    z-index: 10;
}

header .logo {
    text-transform:uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-left: 30px;
}

header ul li a{
    padding: 6px 15px ;
}
header ul li a:hover , .active{
    background-color: #fff;
    color: #200016;
    border-radius: 30px;
}

.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.main::after{
    content:'';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#200016,transparent);
}
.main img {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
#moon {
    mix-blend-mode: screen;
    transform: translateY(80px);
}
.nouvil{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    transform: translateY(-150px);
}

.content{
    color: #fff;
    padding: 30px;
    
}

.content h2{
    margin: 20px;
    font-size: 30px;
}

.content p{
    margin: 20px;
    padding: 20px;
}